.footer {
  padding: var(--padding-y-global) var(--padding-x-global);
  background-color: var(--color-background-light);
  height: 228px;
  display: flex;
  gap: 10%;
  justify-content: center;
}

.left,
.middle,
.right {
  font-size: 16px;
  line-height: 35px;
  padding-top: 10px;
}

.right img {
  width: 139px;
}

.containerSocNet {
  display: flex;
  gap: 9px;
}

.containerSocNet img {
  width: 30px;
}
