.header {
  height: auto;
  padding: 0 var(--padding-x-global);
}

.up,
.down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-y-global) 0;
  gap: 50px;
}

.down {
  gap: 100px;
}

.upLeft,
.upRight {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacts,
.upRightInfo {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16.44px;
  color: var(--color-text-black);
}

.downLeft {
  height: 45px;
  display: flex;
  align-items: center;
  gap: 115px;
  flex-grow: 1;
}

.containerButton {
  height: 100%;
  width: 190px;
}

.downRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  height: 45px;
}

.iconNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.iconNav img {
  height: 25px;
  width: 25px;
}

.iconNav span {
  font-size: 16px;
}

.footer {
  padding: var(--padding-y-global) var(--padding-x-global);
  background-color: var(--color-background-light);
  height: 228px;
  display: flex;
  gap: 10%;
  justify-content: center;
}

.left,
.middle,
.right {
  font-size: 16px;
  line-height: 35px;
  padding-top: 10px;
}

.right img {
  width: 139px;
}

.containerSocNet {
  display: flex;
  gap: 9px;
}

.containerSocNet img {
  width: 30px;
}

.receive-details {
  display: flex;
  flex-direction: row;
}

.form-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
}

.form-column input {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid grey;
  padding: 5px;
}

.order-element {
  padding-left: 25%;
  padding-right: 25%;
}
